//****************************
//*COLOR Variable
//****************************

//*Primary
$primary_dark: black; //*color used for toolbar
$primary_white: white;
$primary_green: green;
$primary_grey: grey;
$primary_bg: navy; //*color used for footer

//*Secondary

//*Tersary
